@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.open-sens {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.shadow {
  box-shadow: 14px 14px 0px 1px #ec5b53;
  -webkit-box-shadow: 14px 14px 0px 1px #ec5b53;
  -moz-box-shadow: 14px 14px 0px 1px #ec5b53;
}

.bg {
  background-image: url(/images/shape1.png);
 background-repeat: no-repeat;
}
.video {
  background-image: url(/images//blob-scene-haikei.png);
  background-position: center;
  background-size: cover;
}
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
